# Amazon E-Commerce Sale

## Import CSV data

In [2]:
import pandas as pd
df=pd.read_csv("Amazon Sale Report.csv")

C:\Users\hp\AppData\Local\Temp\ipykernel_3740\1075659859.py:2: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Amazon Sale Report.csv")

## Data Exploration

In [3]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [4]:
df.shape

(128975, 24)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [6]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

## Data Cleaning

### Steps performed:
#### Cleaned column name 
#### Handled missing value 
#### Standardized categorical values

In [7]:
df.columns=df.columns.str.strip().str.lower().str.replace(" ","_").str.replace("-","_").str.replace(":","_")
df.columns

Index(['index', 'order_id', 'date', 'status', 'fulfilment', 'sales_channel',
       'ship_service_level', 'style', 'sku', 'category', 'size', 'asin',
       'courier_status', 'qty', 'currency', 'amount', 'ship_city',
       'ship_state', 'ship_postal_code', 'ship_country', 'promotion_ids',
       'b2b', 'fulfilled_by', 'unnamed__22'],
      dtype='object')

In [8]:
df.isnull().sum()

index                     0
order_id                  0
date                      0
status                    0
fulfilment                0
sales_channel             0
ship_service_level        0
style                     0
sku                       0
category                  0
size                      0
asin                      0
courier_status         6872
qty                       0
currency               7795
amount                 7795
ship_city                33
ship_state               33
ship_postal_code         33
ship_country             33
promotion_ids         49153
b2b                       0
fulfilled_by          89698
unnamed__22           49050
dtype: int64

In [9]:
df['currency'].unique()

array(['INR', nan], dtype=object)

In [10]:
for col in['ship_city','ship_state','courier_status','category','status']:
 print("\n",col)
 print(df[col].value_counts())

 ship_city
ship_city
BENGALURU              11217
HYDERABAD               8074
MUMBAI                  6126
NEW DELHI               5795
CHENNAI                 5421
                       ...
shimoga                    1
Bangluru                   1
Dombiwali                  1
Begumpet, Hyderabad        1
Badlapur , Thane           1
Name: count, Length: 8955, dtype: int64

 ship_state
ship_state
MAHARASHTRA      22260
KARNATAKA        17326
TAMIL NADU       11483
TELANGANA        11330
UTTAR PRADESH    10638
                 ...
Nagaland             1
Mizoram              1
bihar                1
rajsthan             1
Rajsthan             1
Name: count, Length: 69, dtype: int64

 courier_status
courier_status
Shipped      109487
Unshipped      6681
Cancelled      5935
Name: count, dtype: int64

 category
category
Set              50284
kurta            49877
Western Dress    15500
Top              10622
Ethnic Dress      1159
Blouse             926
Bottom             440
Saree              164
Dupatta              3
Name: count, dtype: int64

 status
status
Shipped                          77804
Shipped - Delivered to Buyer     28769
Cancelled                        18332
Shipped - Returned to Seller      1953
Shipped - Picked Up                973
Pending                            658
Pending - Waiting for Pick Up      281
Shipped - Returning to Seller      145
Shipped - Out for Delivery          35
Shipped - Rejected by Buyer         11
Shipping                             8
Shipped - Lost in Transit            5
Shipped - Damaged                    1
Name: count, dtype: int64

In [11]:
df['ship_city']=df['ship_city'].str.strip().str.upper()
df['ship_state']=df['ship_state'].str.strip().str.upper()
df['category']=df['category'].str.strip().str.upper()

In [12]:
df['ship_city'].value_counts()

ship_city
BENGALURU                11898
HYDERABAD                 9125
MUMBAI                    7122
NEW DELHI                 6340
CHENNAI                   6284
                         ...
WARASEONI                    1
GIRD BARAGAON                1
MELMANAVOOR                  1
CHERUKUNNU (P.O)             1
VAISHALI NAGAR NAGPUR        1
Name: count, Length: 7297, dtype: int64

In [13]:
df['ship_state'].value_counts()

ship_state
MAHARASHTRA               22260
KARNATAKA                 17326
TAMIL NADU                11483
TELANGANA                 11330
UTTAR PRADESH             10638
DELHI                      6967
KERALA                     6585
WEST BENGAL                5963
ANDHRA PRADESH             5430
GUJARAT                    4489
HARYANA                    4415
RAJASTHAN                  2711
MADHYA PRADESH             2529
ODISHA                     2136
BIHAR                      2114
PUNJAB                     1917
ASSAM                      1663
UTTARAKHAND                1553
JHARKHAND                  1456
GOA                        1137
CHHATTISGARH                909
HIMACHAL PRADESH            788
JAMMU & KASHMIR             702
PUDUCHERRY                  350
CHANDIGARH                  333
MANIPUR                     316
ANDAMAN & NICOBAR           257
MEGHALAYA                   207
SIKKIM                      205
NAGALAND                    185
TRIPURA                     151
ARUNACHAL PRADESH           146
NEW DELHI                    81
MIZORAM                      76
DADRA AND NAGAR              70
LADAKH                       43
LAKSHADWEEP                   4
ORISSA                        3
RAJSHTHAN                     3
RJ                            2
NL                            2
RAJSTHAN                      2
PUNJAB/MOHALI/ZIRAKPUR        1
PB                            1
APO                           1
AR                            1
PONDICHERRY                   1
Name: count, dtype: int64

In [14]:
state_fix={'NEW DELHI':'DELHI',
          'ORISSA':'ODISHA',
          'RAJSHTHAN':'RAJASTHAN',
           'RAJSTHAN':'RAJASTHAN',
 'RJ':'RAJASTHAN',
 'NL':'NAGALAND',
 'PB':'PUNJAB',
 'PUNJAB/MOHALI/ZIRAKPUR':'PUNJAB',
 'APO':'ANDHRA PRADESH',
 'PONDICHERRY':'PUDUCHERRY',
 'AR':'ARUNACHAL PRADESH'
}

In [15]:
df['ship_state']=df['ship_state'].replace(state_fix)

In [16]:
df['ship_state'].value_counts()

ship_state
MAHARASHTRA          22260
KARNATAKA            17326
TAMIL NADU           11483
TELANGANA            11330
UTTAR PRADESH        10638
DELHI                 7048
KERALA                6585
WEST BENGAL           5963
ANDHRA PRADESH        5431
GUJARAT               4489
HARYANA               4415
RAJASTHAN             2718
MADHYA PRADESH        2529
ODISHA                2139
BIHAR                 2114
PUNJAB                1919
ASSAM                 1663
UTTARAKHAND           1553
JHARKHAND             1456
GOA                   1137
CHHATTISGARH           909
HIMACHAL PRADESH       788
JAMMU & KASHMIR        702
PUDUCHERRY             351
CHANDIGARH             333
MANIPUR                316
ANDAMAN & NICOBAR      257
MEGHALAYA              207
SIKKIM                 205
NAGALAND               187
TRIPURA                151
ARUNACHAL PRADESH      147
MIZORAM                 76
DADRA AND NAGAR         70
LADAKH                  43
LAKSHADWEEP              4
Name: count, dtype: int64

In [17]:
df.isnull().mean().sort_values(ascending=False)*100

fulfilled_by          69.546811
promotion_ids         38.110487
unnamed__22           38.030626
currency               6.043807
amount                 6.043807
courier_status         5.328164
ship_country           0.025586
ship_city              0.025586
ship_state             0.025586
ship_postal_code       0.025586
sales_channel          0.000000
fulfilment             0.000000
status                 0.000000
date                   0.000000
order_id               0.000000
index                  0.000000
style                  0.000000
ship_service_level     0.000000
qty                    0.000000
asin                   0.000000
sku                    0.000000
category               0.000000
size                   0.000000
b2b                    0.000000
dtype: float64

In [18]:
df[df['amount'].isna()]

,index,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,...,currency,amount,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by,unnamed__22
8,8,407-5443024-5233168,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,SET200,SET200-KR-NP-A-XXXL,SET,...,NaN,NaN,HYDERABAD,TELANGANA,500008.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
29,29,404-5933402-8801952,04-30-22,Cancelled,Merchant,Amazon.in,Standard,JNE2132,JNE2132-KR-398-XXXL,KURTA,...,NaN,NaN,GUWAHATI,ASSAM,781003.0,IN,NaN,False,Easy Ship,NaN
65,65,171-4137548-0481151,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3373,JNE3373-KR-XXL,KURTA,...,NaN,NaN,DAHOD,GUJARAT,389151.0,IN,NaN,False,NaN,NaN
84,84,403-9950518-0349133,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3510,JNE3510-KR-M,KURTA,...,NaN,NaN,HYDERABAD,TELANGANA,500072.0,IN,NaN,False,NaN,NaN
95,95,405-9112089-3379536,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3405,JNE3405-KR-L,KURTA,...,NaN,NaN,PUNE,MAHARASHTRA,411046.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128903,128903,406-3923120-4345139,05-31-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3801,JNE3801-KR-M,KURTA,...,NaN,NaN,ANANTAPUR,ANDHRA PRADESH,515001.0,IN,NaN,False,NaN,False
128907,128907,403-6757403-6097100,05-31-22,Cancelled,Amazon,Amazon.in,Expedited,NW014,NW014-ST-SR-XXXL,SET,...,NaN,NaN,GREATER NOIDA,UTTAR PRADESH,201306.0,IN,NaN,False,NaN,False
128908,128908,403-6757403-6097100,05-31-22,Cancelled,Amazon,Amazon.in,Expedited,NW007,NW007-ST-CP-XXXL,SET,...,NaN,NaN,GREATER NOIDA,UTTAR PRADESH,201306.0,IN,NaN,False,NaN,False
128958,128958,408-9513596-4393945,05-31-22,Cancelled,Amazon,Amazon.in,Expedited,SET058,SET058-KR-NP-L,SET,...,NaN,NaN,BENGALURU,KARNATAKA,560037.0,IN,NaN,False,NaN,False
128967,128967,404-5182288-1653947,05-31-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3638,JNE3638-KR-XS,KURTA,...,NaN,NaN,KOLKATA,WEST BENGAL,700040.0,IN,NaN,False,NaN,False

In [19]:
df.drop(columns=['unnamed__22'],inplace=True)

In [20]:
df.head()

,index,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,...,qty,currency,amount,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,SET,...,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,KURTA,...,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,KURTA,...,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,WESTERN DRESS,...,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,TOP,...,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN

In [21]:
df.duplicated().sum()

np.int64(0)

In [43]:
df['date']=pd.to_datetime(df['date'],format='%m-%d-%y',errors='coerce')

In [23]:
df['date'].dtype

dtype('<M8[ns]')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   order_id            128975 non-null  object
 2   date                128975 non-null  datetime64[ns]
 3   status              128975 non-null  object
 4   fulfilment          128975 non-null  object
 5   sales_channel       128975 non-null  object
 6   ship_service_level  128975 non-null  object
 7   style               128975 non-null  object
 8   sku                 128975 non-null  object
 9   category            128975 non-null  object
 10  size                128975 non-null  object
 11  asin                128975 non-null  object
 12  courier_status      122103 non-null  object
 13  qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  amount              121180 non-null  float64
 16  ship_city           128942 non-null  object
 17  ship_state          128942 non-null  object
 18  ship_postal_code    128942 non-null  float64
 19  ship_country        128942 non-null  object
 20  promotion_ids       79822 non-null   object
 21  b2b                 128975 non-null  bool
 22  fulfilled_by        39277 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(17)
memory usage: 21.8+ MB

In [25]:
df['amount'].describe()

count    121180.000000
mean        648.561465
std         281.211687
min           0.000000
25%         449.000000
50%         605.000000
75%         788.000000
max        5584.000000
Name: amount, dtype: float64

## Data Export

In [29]:
df.to_csv("amazon_sales_cleand.csv",index=False)

In [32]:
df.info()
df.isnull().sum()
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   order_id            128975 non-null  object
 2   date                128975 non-null  datetime64[ns]
 3   status              128975 non-null  object
 4   fulfilment          128975 non-null  object
 5   sales_channel       128975 non-null  object
 6   ship_service_level  128975 non-null  object
 7   style               128975 non-null  object
 8   sku                 128975 non-null  object
 9   category            128975 non-null  object
 10  size                128975 non-null  object
 11  asin                128975 non-null  object
 12  courier_status      122103 non-null  object
 13  qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  amount              121180 non-null  float64
 16  ship_city           128942 non-null  object
 17  ship_state          128942 non-null  object
 18  ship_postal_code    128942 non-null  float64
 19  ship_country        128942 non-null  object
 20  promotion_ids       79822 non-null   object
 21  b2b                 128975 non-null  bool
 22  fulfilled_by        39277 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(17)
memory usage: 21.8+ MB

index                          int64
order_id                      object
date                  datetime64[ns]
status                        object
fulfilment                    object
sales_channel                 object
ship_service_level            object
style                         object
sku                           object
category                      object
size                          object
asin                          object
courier_status                object
qty                            int64
currency                      object
amount                       float64
ship_city                     object
ship_state                    object
ship_postal_code             float64
ship_country                  object
promotion_ids                 object
b2b                             bool
fulfilled_by                  object
dtype: object

# Data loaded in PostgreSQL.

In [33]:
import psycopg2

In [34]:
conn=psycopg2.connect(
    host="localhost",
    user="postgres",
    password="95x@Nt",
    dbname="amazon_e_commerce",
    port=5432)

In [35]:
import pandas as pd
from sqlalchemy import create_engine

In [36]:
engine= create_engine(
    "postgresql+psycopg2://postgres:95x%40Nt@localhost:5432/amazon_e_commerce"
)

In [37]:
conn=engine.connect()

In [39]:
df.to_sql(
    name='sales',
    con=conn,
    if_exists ='replace',
    index = False
)

975

In [40]:
print("rows in df",len(df))

rows in df 128975

In [41]:
df.to_csv("amazon_e_commerce.csv",
         index=False,
         header=True)